<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
    </script>
    <title><%= title %></title>
</head>
<body class="bg-gradient-to-r from-blue-100 to-blue-200 text-gray-900 flex flex-col min-h-screen">
    <%- include("header") %>

    <div class="container mx-auto mt-10 flex-grow flex justify-center items-center">
        <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
            <h1 class="text-4xl text-center text-blue-900 mb-4">Create a new sport</h1>
            <form action="/addsport" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <div class="flex flex-col gap-5">
                    <div class="flex-auto">
                        <label class="text-gray-700">Enter the name of the sport you wanted to create?</label>
                        <input type="text" name="sport" id="sport" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4" required/>
                    </div>
                    <div class="flex-auto">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white px-5 py-2 rounded font-medium">Create</button>
                    </div>
                </div>
            </form>
            
            <div>
                <%- include("notifications.ejs") %>
            </div>
        </div>
    </div>

    <%- include("footer") %>
</body>
</html>
