<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="role" content="<%= role%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token=document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        var role=document.querySelector('meta[name="role"]').getAttribute("content");
        function control(){
            if(role!='admin'){
                document.getElementById('admin-controls').style.display='none';
            }
        }
        function sport(title){
            // sessionStorage.setItem('sport',title);
            window.location.replace(`/sport/${title}`);
        }
        function session(id){
            window.location.replace("/session/"+id);
        }
    </script>
    <title>Sports-Scheduler</title>
</head>
<body onload="control()">
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <form action="/signout" method="get">
                <div class="inline-flex">
                    <h1 class="p-2 text-4xl">Welcome <%=userName%>!</h1>
                    <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2 absolute start-2/3">Sign out</button>
                </div>
            </form>
            <a href="/changepassword" class="text-green-600 p-2">Change password</a>
            <br>
            <div id="admin-controls">
                <a href="/createsport" class="text-green-600 p-2">Create a new sport</a><br>
                <a href="/reports" class="text-green-600 p-2">View reports</a>
            </div>
            <br>
            <h1 class="p-2 text-2xl underline">You're upcoming sessions</h1><br>
            <div>
                <ul class="list-none">
                    <%if(usersessions.length==0||usersessions==null){%>
                        <li>
                            <p class="p-2 text-lg">There are no sessions available, wanna create one?</p>
                        </li>
                    <%} else{%>
                    <%for(var i=0;i<usersessions.length; i++) {%>
                    <li>
                        <div class="flex w-fit my-2 px-2 py-1 items-center hover:bg-purple-50 rounded">
                            <label class="ml-2 text-lg text-gray-600 cursor-pointer flex flex-col" onclick="session(`<%= usersessions[i].id %>`)">
                                <span class="underline">Session <%=i+1%>:</span>
                                <span class="ml-5">Date: <%=usersessions[i].date%></span>
                                <span class="ml-5">Time: <%=usersessions[i].time%></span>
                                <span class="ml-5">Location: <%=usersessions[i].location%></span>
                                <span class="ml-5 text-red-700"><%=usersessions[i].additional%> slots left!</span>
                            </label>
                        </div>
                    </li>
                    <%} }%>
                </ul>
            </div>
            <br>
            <h1 class="p-2 text-2xl underline">Available Sports</h1><br>
            <div>
                <ul class="list-none">
                    <%for(var i=0;i<sportslist.length; i++) {%>
                    <li>
                        <div class="flex w-fit my-2 px-2 py-1 items-center hover:bg-purple-50 rounded">
                            <label class="ml-2 text-lg text-gray-600 cursor-pointer" onclick="sport(`<%= sportslist[i].title %>`)"><%= sportslist[i].title %></label>
                        </div>
                    </li>
                    <%} %>
                </ul>
            </div>
            <%-include("notifications.ejs")%>
        </div>
    </div>
</body>
</html>