<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="role" content="<%= role %>">
    <meta name="players" content="<%= playerid %>">
    <meta name="userid" content="<%= userid %>">
    <meta name="sport" content="<%= sport %>">
    <meta name="sportowner" content="<%= sportowner %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var role = document.querySelector('meta[name="role"]').getAttribute("content");
        var players = document.querySelector('meta[name="players"]').getAttribute("content");
        var userid = document.querySelector('meta[name="userid"]').getAttribute("content");
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        var sportowner = document.querySelector('meta[name="sportowner"]').getAttribute("content");
        var sport = document.querySelector('meta[name="sport"]').getAttribute("content");

        function create(sesid){
            fetch(`/session/${sesid}`,{
                method: "post",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res)=>{
                if(res.ok){
                    window.location.reload();
                }
            }).catch((err)=>console.log(err));
        }

        function delete(sesid){
            fetch(`/session/${sesid}`,{
                method: "delete",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res)=>{
                if(res.ok){
                    window.location.reload();
                }
            }).catch((err)=>console.log(err));
        }
    </script>
    <title><%= title %></title>
</head>
<body class="bg-gradient-to-r from-blue-100 to-blue-200 text-gray-900 flex flex-col min-h-screen">
    <%- include("header") %>

    <div class="container mx-auto mt-10 flex-grow flex justify-center items-center">
        <div class="w-full max-w-3xl bg-white shadow-lg rounded-lg p-8">
            <h1 class="text-4xl text-center text-blue-900 mb-4"><%= sport %></h1>
            <div>
                <table class="w-full table-auto text-center border-collapse border border-blue-900 mb-4">
                    <thead class="bg-blue-900 text-white">
                        <tr>
                            <th class="border border-blue-900 text-white p-4">Session id</th>
                            <th class="border border-blue-900 text-white p-4">Date</th>
                            <th class="border border-blue-900 text-white p-4">Time</th>
                            <th class="border border-blue-900 text-white p-4">Location</th>
                            <th class="border border-blue-900 text-white p-4">Join/No join</th>
                            <th class="border border-blue-900 text-white p-4">Join</th>
                            <th class="border border-blue-900 text-white p-4">Not join</th>
                            <th class="border border-blue-900 text-white p-4">Remove</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-900">
                        <% for(let i=0; i<sport.length; i++) { %>
                        <tr>
                            <td class="border border-blue-900 p-4"><%= sport[i].id %></td>
                            <td class="border border-blue-900 p-4"><%= sport[i].date %></td>
                            <td class="border border-blue-900 p-4"><%= sport[i].time %></td>
                            <td class="border border-blue-900 p-4"><%= sport[i].location %></td>
                            <td class="border border-blue-900 p-4"><%= sport[i].additional %></td>
                            <% if (role == "Owner" || players.includes(userid)) { %>
                            <% if (sport[i].players.includes(userid)) { %>
                            <td class="border border-blue-900 p-4" onclick="notjoining('<%= sport[i]._id %>','<%= userid %>','<%= sport[i].players %>')">Do not join</td>
                            <% } else { %>
                            <td class="border border-blue-900 p-4" onclick="join('<%= sport[i]._id %>','<%= userid %>','<%= sport[i].players %>')">Join</td>
                            <% } %>
                            <% } %>
                            <% if (role == "Owner" || players.includes(userid)) { %>
                            <td class="border border-blue-900 p-4" onclick="removeplayer('<%= sport[i]._id %>','<%= userid %>','<%= sport[i].players %>')">Remove</td>
                            <% } %>
                            <% if (role == "Owner") { %>
                            <td class="border border-blue-900 p-4" onclick="createemail('<%= sport[i]._id %>')">Email</td>
                            <% } %>
                            <td class="border border-blue-900 p-4" onclick="delete('<%= sport[i]._id %>')">Remove</td>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include("footer") %>
</body>
</html>
