<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Report</title>
</head>

<body class="bg-gradient-to-r from-blue-100 to-blue-200 text-gray-900 flex flex-col min-h-screen">

    <% include("header.ejs") %>

    <nav class="bg-blue-600 text-white p-4 flex justify-between">
        <div class="flex space-x-4">
            <a href='/dashboard' class="text-lg">Return to home page</a>
        </div>
    </nav>

    <div class="container mx-auto mt-10 flex-grow flex justify-center items-center">
        <div class="w-full max-w-3xl bg-white shadow-lg rounded-lg p-8">
            <h1 class="text-4xl text-blue-900 mb-4"><%= sport %> Report</h1>

            <h2 class="text-2xl underline mb-2">Past Sessions</h2>
            <div>
                <ul class="list-none">
                    <% if (pastses.length === 0 || !pastses) { %>
                        <li>
                            <p class="text-lg p-2">There are no sessions available</p>
                        </li>
                    <% } else { %>
                        <% for (let i = 0; i < pastses.length; i++) { %>
                            <li>
                                <div class="flex my-2 px-2 py-1 items-center hover:bg-purple-50 rounded">
                                    <label class="ml-2 text-lg text-gray-600 cursor-pointer flex flex-col" onclick="session('<%= pastses[i].id %>')">
                                        <span class="underline">Session <%= i + 1 %>:</span>
                                        <span class="ml-5">Date: <%= pastses[i].date %></span>
                                        <span class="ml-5">Time: <%= pastses[i].time %></span>
                                        <span class="ml-5">Location: <%= pastses[i].location %></span>
                                    </label>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>

            <h2 class="text-2xl underline mt-4">Upcoming Sessions</h2>
            <div>
                <ul class="list-none">
                    <% if (upses.length === 0 || !upses) { %>
                        <li>
                            <p class="text-lg p-2">There are no sessions available, wanna create one?</p>
                        </li>
                    <% } else { %>
                        <% for (let i = 0; i < upses.length; i++) { %>
                            <li>
                                <div class="flex my-2 px-2 py-1 items-center hover:bg-purple-50 rounded">
                                    <label class="ml-2 text-lg text-gray-600 cursor-pointer flex flex-col" onclick="session('<%= upses[i].id %>')">
                                        <span class="underline">Session <%= i + 1 %>:</span>
                                        <span class="ml-5">Date: <%= upses[i].date %></span>
                                        <span class="ml-5">Time: <%= upses[i].time %></span>
                                        <span class="ml-5">Location: <%= upses[i].location %></span>
                                    </label>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>

            <%- include("notifications.ejs") %>
        </div>
    </div>
    <% include("footer.ejs") %>

</body>

</html>
