<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="role" content="<%= role %>">
    <meta name="players" content="<%= playerid %>">
    <meta name="userid" content="<%= userid %>">
    <meta name="sport" content="<%= sport %>">
    <meta name="sportowner" content="<%= sportowner %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var role = document.querySelector('meta[name="role"]').getAttribute("content");
        var players = document.querySelector('meta[name="players"]').getAttribute("content");
        var userid = document.querySelector('meta[name="userid"]').getAttribute("content");
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        var sportowner = document.querySelector('meta[name="sportowner"]').getAttribute("content");
        var sport = document.querySelector('meta[name="sport"]').getAttribute("content");

        function removeplayer(sesid, id, play) {
            var playerlist = play.toString().split(",");
            var playing = "";
            for (var i = 0; i < playerlist.length; i++) {
                if (playerlist[i] != id) {
                    playing += playerlist[i] + ',';
                }
            }
            fetch(`/admin/session/${sesid}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    player: playing,
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err) => console.log(err));
        }

        function join(sesid, id, play) {
            play += ',' + id;
            fetch(`/session/${sesid}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    type: "join",
                    session: sesid,
                    player: play,
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err) => console.log(err));
        }

        function leave(sesid, id, play) {
            var playerlist = play.toString().split(",");
            var playing = "";
            for (var i = 0; i < playerlist.length; i++) {
                if (playerlist[i] != id) {
                    playing += playerlist[i] + ',';
                }
            }
            fetch(`/session/${sesid}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    type: "leave",
                    session: sesid,
                    player: playing,
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err) => console.log(err));
        }

        function adminoptions() {
            if (sportowner != userid) {
                document.getElementById('creator').style.display = 'none';
            }
            if (sportowner == userid) {
                const deletebtn = document.querySelectorAll("#admindelete");
                deletebtn.forEach((ele) => {
                    ele.classList.remove("hidden");
                });
            }
            const playerlist = players.split(",");
            var notfound = 1;
            for (var i = 0; i < playerlist.length; i++) {
                if (playerlist[i] == userid) {
                    document.getElementById("join").style.display = 'none';
                    notfound = 0;
                    break;
                }
            }
            if (notfound == 1) {
                document.getElementById("leave").style.display = 'none';
            }
        }

        function deleteSession(id) {
            fetch(`/session/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.replace(`/sport/${sport}`);
                }
            }).catch((error) => console.log(error));
        }
    </script>
    <title><%= title %></title>
</head>
<body class="bg-gradient-to-r from-blue-100 to-blue-200 text-gray-900 flex flex-col min-h-screen" onload="adminoptions()">
    <%- include("header") %>
    <nav class="bg-blue-600 text-white p-4 flex justify-between">
        <div class="flex space-x-4">
            <a href='/dashboard' class="text-lg">Return to home page</a>
        </div>
        <div class="flex space-x-4" id="creator">
            <a href="/session/<%= session.id %>/edit" class="text-lg">Edit Session</a>
            <a class="text-lg cursor-pointer" onclick="deleteSession(`<%= session.id %>`)">Delete Session</a>
        </div>
    </nav>
    <div class="container mx-auto mt-10 flex-grow flex justify-center items-center">
        <div class="w-full max-w-3xl bg-white shadow-lg rounded-lg p-8">
            <div class="flex justify-between items-center mb-4">
                <h1 class="text-4xl text-blue-900"><%= owner %>'s Session</h1>
            </div>
            <ul class="list-none ml-2 mb-4">
                <li>Location: <%= session.location %></li>
                <li>Date: <%= session.date %></li>
                <li>Time: <%= session.time %></li>
            </ul>
            <h1 class="text-2xl font-bold mb-4">Players</h1>
            <ul class="list-none mb-4">
                <% for (var i = 0; i < players.length; i++) { %>
                <li class="Todo-Item flex items-center justify-between p-2 border-b border-gray-200">
                    <span class="text-gray-700"><%= players[i] %></span>
                    <a href="#" class="hidden text-red-500 hover:text-red-700" onclick="removeplayer(<%= session.id %>, <%= playerid[i] %>, <%= playerid %>)" id="admindelete">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </a>
                </li>
                <% } %>
            </ul>
            <div class="flex flex-col items-center mb-4" id="playerctrl">
                <a class="text-blue-600 p-2 text-lg cursor-pointer mb-2" id="join" onclick="join(<%= session.id %>, <%= userid %>, <%= playerid %>)">Join Session</a>
                <a class="text-red-600 p-2 text-lg cursor-pointer" id="leave" onclick="leave(<%= session.id %>, <%= userid %>, <%= playerid %>)">Leave Session</a>
            </div>
            <%- include("notifications.ejs") %>
        </div>
    </div>
    <%- include("footer") %>
</body>
</html>
