<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="role" content="<%= role%>">
    <meta name="userid" content="<%= userid%>">
    <meta name="owner" content="<%= owner%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        var role = document.querySelector('meta[name="role"]').getAttribute("content");
        var userid = document.querySelector('meta[name="userid"]').getAttribute("content");
        var owner = document.querySelector('meta[name="owner"]').getAttribute("content");

        function deleteSport(sport) {
            fetch(`/sport/${sport}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.replace("/home");
                }
            }).catch((error) => console.log(error));
        }

        function session(id) {
            window.location.replace("/session/" + id);
        }

        function creatorop() {
            if (userid != owner) {
                document.getElementById('creator').style.display = 'none';
            }
        }
    </script>
    <title><%= sport %></title>
</head>
<body class="bg-gradient-to-r from-blue-100 to-blue-200 text-gray-900 flex flex-col min-h-screen" onload="creatorop()">
    <%- include("header") %>

    <div class="container mx-auto mt-10 flex-grow flex justify-center items-center">
        <div class="w-full max-w-2xl bg-white shadow-lg rounded-lg p-8">
            <div class="inline-flex w-full justify-between items-center mb-4">
                <h1 class="text-4xl text-blue-900" id="name"><%= sport %></h1>
                <div id="creator">
                    <a class="text-red-600 text-lg cursor-pointer" onclick="deleteSport('<%= sport %>')">Delete Sport</a>
                </div>
            </div>
            <h1 class="text-2xl text-blue-900 mb-4">Sessions</h1>
            <div>
                <ul class="list-none">
                    <% if (ses.length == 0 || ses == null) { %>
                        <li>
                            <p class="p-2 text-lg text-gray-700">There are no sessions available, wanna create one?</p>
                        </li>
                    <% } else { %>
                        <% for (var i = 0; i < ses.length; i++) { %>
                            <li class="my-2">
                                <div class="flex w-full p-4 items-center hover:bg-blue-50 rounded cursor-pointer" onclick="session('<%= ses[i].id %>')">
                                    <div class="flex flex-col text-lg text-gray-700">
                                        <span class="underline text-blue-900">Session <%= i + 1 %>:</span>
                                        <span class="ml-5">Date: <%= ses[i].date %></span>
                                        <span class="ml-5">Time: <%= ses[i].time %></span>
                                        <span class="ml-5">Location: <%= ses[i].location %></span>
                                        <span class="ml-5 text-red-700"><%= ses[i].additional %> slots left!</span>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div class="mt-4">
                <nav class="bg-gradient-to-r from-blue-500 to-blue-700 p-4 rounded-lg shadow-md flex justify-around">
                    <a href='/createsession/<%= sport %>' class="text-white text-lg">Create Session</a>
                    <a href='/sport/<%= sport %>/report' class="text-white text-lg">View Report</a>
                    <a href='/dashboard' class="text-white text-lg">Return to Home Page</a>
                </nav>
            </div>
            <%- include("notifications.ejs") %>
        </div>
    </div>

    <%- include("footer") %>
</body>
</html>
